@model VideoClub.Models.PeliculasViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Peliculas</h2>


<button class="btn btn-primary">@Html.ActionLink("Nueva Película", "Nueva", "Peliculas", null, new { style = "text-decoration:none;color:white;" })</button>
<br />
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>

            <th scope="col">Titulo</th>
            <th scope="col">Género</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var peli in Model.Peliculas)
        {
            <tr>

                <td>@Html.ActionLink(peli.Nombre, "Editar", "Peliculas", new { Id = peli.Id }, null)</td>
                <td>@peli.Genero.Nombre</td>


            </tr>
        }


    </tbody>
</table>





